.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 1rem;
  background-color: #262626;
}

.gridItem {
  width: 100%;
  height: 540px;
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
